body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: lightgray;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  width: 100%;
}

.topbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background: rgba(75, 75, 75, 0.644);
  position: fixed;
  width:100%;
  padding: 1.5% 0%;
}

.logo-container {
  padding: 1.5%;
  /* display:none; */
  position: absolute;
  top: 0;
  left: 0;
}

h1 {
  color: white;
  font-size: 3.2rem;
  text-align: center;
  margin: 0 auto;
}

.sidebar {
  background: rgba(75, 75, 75, 0.644);
  width: 30%;
  padding: 1% 2% 0 2%;
  position: fixed;
  max-height: 90px;
  bottom: 0;
  left: 0;
  color: white;
  transition: max-height 0.6s ease-in-out;
  /* display:none; */
}

.sidebar:hover{
  max-height: 800px;
}

.title-btn {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 0 3%;
  background: rgba(75, 75, 75, 0.644);
}

.title-btn h1 {
  font-size: 3.2rem;
}

.sidebar--open {
  display: visible;
}

.sidebar h2 {
  font-size: 2.1rem;
  margin-top: 12px;
  white-space: nowrap;
}

.page-content {
  display: flex;
  flex-direction: row;
}

.apod-container {
  height: 100vh;
  width:100%;
  overflow: hidden;
  display:flex;
  justify-content: center;
  align-items: center;
  
}

.apod-container img {
  /* flex-shrink: 0; */
    min-width: 100%;
    min-height: 100%;
  object-fit: fill;
  object-position: center;
}
